/* Définition de la police */
@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff2') format('woff2'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('Roboto-Bold-webfont.eot');
    src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff2') format('woff2'),
         url('Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'shrikhandregular';
    src: url('shrikhand-regular-webfont.eot');
    src: url('shrikhand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('shrikhand-regular-webfont.woff2') format('woff2'),
         url('shrikhand-regular-webfont.woff') format('woff'),
         url('shrikhand-regular-webfont.ttf') format('truetype'),
         url('shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Eléments principaux de la page */

body
{
    font-family: 'robotoregular', Arial, sans-serif;
    margin: 0 auto;
}

h1
{
    font-size: 1.4em;
    font-family: 'robotobold', Arial, sans-serif;
}

h2
{
    font-size: 1.2em;
    font-family: 'robotobold', Arial, sans-serif;
}

p
{
    font-size: 0.9em;
}

/* Header */

.logo img
{
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.logo
{
    background-color: white;
    height: 3em;
    margin-top: 1%;
    overflow: overlay;
    display: flex;
    align-items: center;
}

.arrow
{
    font-size: larger;
    margin-left: 10%;
    padding-bottom: 2%;
    margin-right: 15%;
}

.arrow > a
{
    text-decoration: none;
    list-style-type: none;
    color:black;
}

.recherche
{
    background-color: rgb(234, 234, 234);
    border: rgb(234, 234, 234);
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: baseline;
    box-shadow: inset 0px 7px 8px -6px grey;
}

.fa-map-marker-alt
{
    color: black;
}

#barre-recherche
{
    background-color:rgb(234, 234, 234);
    border: hidden;
    height: 3em;
    width: 100%;
    font-family: 'robotoregular', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: inset 0px 9px 8px -8px grey;
}

.explorer
{
    background-color:rgb(246, 246, 246);
    padding-top: 4%;
    padding-bottom: 13%;
}

div.explorer > h1
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.explorer > p
{
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -7px;
    font-family: 'robotolight', Arial, sans-serif;
}

div.explorer > button
{
    font-family: 'robotoregular', Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 25px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-left:25%;
    margin-right:25%;
    border: hidden;
}

/*Fonctionnement */

#fonctionnement, #restaurants h1
{
    padding-left:5%;
}

.fa-mobile-alt, .fa-list-ul
{
    color:rgb(126, 126, 126);
    padding-right: 5%;
    font-size: 1em;
}

.fa-store
{
    color:#9356DC;
    padding-right: 5%;
    font-size: 1em;
}

.choisir, .composer, .deguster
{
    background-color:rgb(246, 246, 246);
    padding: 3%;
    margin-bottom: 6%;
    width: 88%;
    border-radius: 20px;
    box-shadow: 0em 1em 1em -0.5em rgb(234 234 234);
}

.choisir, .composer, .deguster p
{
    font-weight:bold;
}

.choisir, .composer, .deguster 
{
    display:flex;
    justify-content: center;
}

.un, .deux, .trois
{
    background: #9356DC;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    align-self: center;
    font-size: 0.7em;
    color: white;
    font-family: 'robotolight', Arial, sans-serif;
    font-weight: lighter;
    position: relative;
    left: -68px;
    padding-bottom: 2px;
}

.deux
{
    padding-top:1px;
}

.mobile, .list, .store
{
    padding-top: 4%;
}

.mobile
{
    padding-right:6%;
}

.list{
    padding-right:5%;
}

.store, .comp-menu
{
    padding-right:5%;
}

.restau
{
    padding-right: 3%;
}

/*Restaurants */

#restaurants
{
    background-color:rgb(246, 246, 246);
    padding-top: 6%;
    padding-bottom:10%;
}

#restaurants img
{
    width:100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 13px 13px 0 0;
    max-height: 71%;
}

#restaurants > div.note-enchantee > a > img
{
    object-position: center;
}

.palette, .note-enchantee, .alafrancaise, .delicedessens
{
    background-color: white;
    border-radius: 13px;
    width:90%;
    margin-left:5%;
    margin-bottom: 5%;
    height: 15em;
    box-shadow: 0em 1em 1em -0.5em rgb(234 234 234);
}

#restaurants h2
{
    margin-top: 2%;
    margin-bottom: 0;
    margin-left: 4%;
    width:100%;
}

#restaurants p
{
    margin-top: 0;
    padding-bottom: 4%;
    margin-left: 4%;
}

#restaurants > div.note-enchantee > img
{
    object-position: center;
}

.coeur
{
    padding-right: 5%;
    padding-top: 1%;
    font-size: 1.5em;
}

.nouveau1
{
    background-color: rgb(153, 226, 208);
    color: rgb(0,135,102);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    position: absolute;
    right: 8%;
    font-size: smaller;
    top: 115%;
}

.nouveau2
{
    background-color: rgb(153, 226, 208);
    color: rgb(0,135,102);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15%;
    position: absolute;
    right: 8%;
    font-size: smaller;
    top: 153%;
}

.palette-desc, .note-enchantee-desc, .alafrancaise-desc, .delicedessens-desc
{
    display:flex;
    justify-content: space-between;
}
#restaurants a
{
    text-decoration: none;
    list-style-type: none;
    color:black;
}

/*Footer*/

footer
{
    background-color: rgb(53,53,53);
    padding-top: 1%;
    padding-bottom: 1%;
}

body > footer > h2
{
    font-family: 'shrikhandregular';
    color: white;
    font-size: 1.3em;
    font-weight: lighter;
    padding-left: 5%;
}

footer ul
{
    list-style-type: none;
    padding-left: 5%;
    line-height: 25px;
}

footer a
{
    text-decoration: none;
    color:white;
}

.fa-utensils 
{
    padding-right: 5%;
}

.fa-hands-helping
{
    padding-right: 3%;
}

/*Menus*/

.photo-alafrancaise > img
{
    width:100%;
}

.photo-noteenchantee > img
{
    width: 100%;
    object-fit: cover;
    height: 17em;
}

div.commander > button
{
    font-family: 'robotoregular', Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 25px;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    border: hidden;
    margin-top: 13%;
    width: 45%;
    box-shadow: 0px 8px 8px 1px lightgrey; 
}

.menu
{
    background: rgb(246,246,246);
    border-radius: 25px 25px 0 0;
    margin-top: -14%;
    overflow: overlay;
    padding-bottom: 13%;
}

.nomdurestau h1
{
    font-family: 'shrikhandregular';
    padding-top: 3%;
}

.titre
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.coeur-menu
{
    font-size: 1.5em;
    padding-right: 3%;
}

.menu h2
{
    font-family: 'robotolight', Arial, sans-serif;
    margin-left: 5%;
    border-bottom: #99E2D0 4px solid;
    width: 13%;
    height: 30px;
    margin-top: 5%;
}

.menu h3
{
    font-size:1.1em;
}

.ingr
{
    font-size:0.9em;
}

#desc1, #desc2, #desc3, #desc3bis, #desc4, #desc5, #desc6, #desc7, #desc8, #desc9
{
    display: flex;
    justify-content: space-between;
    width: 93%;
    padding-bottom: 3%;
    padding-left: 3%;
} 

.entree1, .entree2, .entree3, .entree4, .plat1, .plat2, .plat3, .dessert1, .dessert2, .dessert3
{
    background: white;
    border-radius: 15px;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    box-shadow: 0px 6px 12px 0px lightgrey;
}

.menu h3
{
    padding-left: 3%;
    padding-top: 3%;
    margin-bottom: 1%;
}

.prix
{
    font-weight:bold;
    font-size:0.9em;
}